# 东京采集器：指向新加坡服务器公网 IP
DATABASE_HOST=新加坡服务器IP
DATABASE_PORT=5432
DATABASE_NAME=smip
DATABASE_USER=smip_user
DATABASE_PASSWORD=与新加坡 .env 一致

REDIS_HOST=新加坡服务器IP
REDIS_PORT=6379
REDIS_PASSWORD=与新加坡 .env 一致

BINANCE_API_KEY=可选
BINANCE_API_SECRET=可选
